<!doctype html>
<html lang="en">
  <head>
    <title>Debug</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="app">
      <h2>Audio</h2>
      <div id="audio">
        <ul id="audio_config" class="v-split"></ul>
        <div id="monitor">
          <span>
            <p>Input: </p>
            <div id="meter-stack">
              <meter id="audio_level" min="0" max="2.5" low="0.1" high="1.5" optimum="0.8" value="1.8"></meter>
              <p id="audio_level_label"></p>
            </div>
          </span>
        </div>
      </div>
      <h2>Video</h2>
      <div id="video">
        <ul id="video_config" class="v-split"></ul>
        <div id="frame-container">
          <canvas id="c_frame" width="640" height="360">
        </div>
      </div>
      <h2>Workers</h2>
      <div id="ext">
        <div class="data-container">
          <span class="container-title bg-1">yolo</span>
          <hr>
          <ul id="output_yolo"></ul>
        </div>
        <div class="data-container">
          <span class="container-title bg-2">yunet</span>
          <hr>
          <ul id="output_yunet"></ul>
        </div>
        <div class="data-container">
          <span class="container-title bg-3">whisper</span>
          <hr>
          <ul id="output_whisper"></ul>
        </div>
      </div>
    </div>
    <script type="module">
      import { Client, Hooks, Callback } from "/js/robocapture.js";

      const e_yolo = document.getElementById("output_yolo");
      const e_yunet = document.getElementById("output_yunet");
      const e_whisper = document.getElementById("output_whisper");
      const e_audio_level = document.getElementById("audio_level");
      const e_audio_level_label = document.getElementById("audio_level_label");

      const e_audio_config = document.getElementById("audio_config");
      const e_video_config = document.getElementById("video_config");

      const e_canvas = document.getElementById("c_frame");
      const e_canvas_frame = new OffscreenCanvas(640,360);
      const e_canvas_yolo = new OffscreenCanvas(640,360);
      const e_canvas_yunet = new OffscreenCanvas(640,360);

      const ctx_main = e_canvas.getContext("2d");
      const ctx_frame = e_canvas_frame.getContext("2d");
      const ctx_yolo = e_canvas_yolo.getContext("2d");
      const ctx_yunet = e_canvas_yunet.getContext("2d");

      const drawRect = (ctx,x,y,w,h,color) => {
        ctx.strokeStyle = color;
        ctx.lineWidth = `2px`;

        ctx.beginPath();
        ctx.rect(x,y,w,h);
        ctx.stroke();
      }

      const drawCircle = (ctx,x,y,r,color) => {
        ctx.strokeStyle = color;
        ctx.lineWidth = `2px`;

        ctx.beginPath();
        ctx.arc(x,y,r,0,2*Math.PI);
        ctx.stroke();
      }

      const populateConfigElem = (target, result) => {
        const conf = result["data"];

        Object.keys(conf).forEach(k => {
          const e_p = document.createElement("li");
          e_p.className = "info-row";

          const e_s1 = document.createElement("span");
          const e_s2 = document.createElement("span");
          e_s2.className="fg-green";

          e_s1.innerText = k;

          if(k === "on_save" || k === "on_data"){
            let s = "";
            conf[k].forEach(n => {
              s += `${n["name"]} `;
            })

            e_s2.innerText = s;
          }else if(k === "socket" || k === "log"){
            e_s2.innerText = JSON.stringify(conf[k]);
          }else{
            e_s2.innerText = conf[k];
          }

          e_p.appendChild(e_s1);
          e_p.appendChild(e_s2);

          target.appendChild(e_p);
        });
      }

      const processAudioResults = (event) => {
        const results = JSON.parse(event.data);

        results.forEach((result) => {
          if(result["name"] === "server_config"){
            populateConfigElem(e_audio_config, result);
          }

          if(result["name"] === "whisper") {
            const d = result["data"]
            const ts = new Date().toLocaleTimeString("en-US");

            const e_li = document.createElement("li");
            const e_cont = document.createElement("div");
            const e_ts = document.createElement("p");
            const e_text = document.createElement("p");

            e_ts.innerText = ts;
            e_text.innerText = `[${d["lang"]}]: ${d["text"]}`;

            e_cont.appendChild(e_ts);
            e_cont.appendChild(e_text);
            e_li.appendChild(e_cont);
            e_whisper.appendChild(e_li);
          }

          if(result["name"] === "meta"){
            e_audio_level.value = result["data"]["level"]
            e_audio_level_label.innerText = (result["data"]["level"]).toFixed(2);
          }
        });
      }

      const processVideoResults = (event) => {
        const results = JSON.parse(event.data);

        e_yolo.innerText = "";
        e_yunet.innerText = "";

        results.forEach((result) => {
          if(result["name"] === "server_config"){
            populateConfigElem(e_video_config, result);
          }

          if(result["name"] === "yolo") {
            ctx_yolo.clearRect(0,0,e_canvas_yolo.width,e_canvas_yolo.height);
            result["data"].forEach((d) => {
              let e_li = document.createElement("li");
              let e_name = document.createElement("p");
              let e_conf = document.createElement("p");
              e_name.innerText = d["class"];
              e_conf.innerText = d["conf"].toFixed(2);

              e_li.appendChild(e_name);
              e_li.appendChild(e_conf);
              e_yolo.appendChild(e_li);

              // Draw boxes
              const box = d["box"];

              let x = box["x"] - (box["w"] / 2);
              let y = box["y"] - (box["h"] / 2);
              let w = box["w"];
              let h = box["h"];
              drawRect(ctx_yolo,x,y,w,h,"blue");

              ctx_yolo.font = "14px monospace";
              ctx_yolo.fillStyle = "#000000";
              ctx_yolo.fillText(`${d["class"]}: ${d["conf"].toFixed(2)}`, x, y-4);
            });
          }

          if(result["name"] === "yunet") {
            ctx_yunet.clearRect(0,0,e_canvas_yunet.width,e_canvas_yunet.height);
            result["data"].forEach((d) => {
              let e_li = document.createElement("li");
              let e_name = document.createElement("p");
              let e_conf = document.createElement("p");
              e_name.innerText = d["class"];
              e_conf.innerText = d["conf"].toFixed(2);

              e_li.appendChild(e_name);
              e_li.appendChild(e_conf);
              e_yunet.appendChild(e_li);

              // Draw circles
              const box = d.box;

              let x = (box["x"] * 2);
              let y = (box["y"] * 2);
              let w = (box["w"] * 2) - (box["x"] * 2);
              let h = (box["h"] * 2) - (box["y"]* 2);
              drawCircle(ctx_yunet,x + (w/2),y + (h/2),((w+h) / Math.PI),"red");
            });
          }

          if(result["name"] === "frame") {
            let frameImg = new Image()
            frameImg.src = `data:image/jpeg;charset=utf-8;base64, ${result["data"]}`
            frameImg.addEventListener("load", e => {
              ctx_frame.drawImage(frameImg, 0, 0);
            })
          }

          ctx_main.clearRect(0,0,e_canvas.width,e_canvas.height);
          ctx_main.drawImage(e_canvas_frame,0,0);
          ctx_main.drawImage(e_canvas_yolo,0,0);
          ctx_main.drawImage(e_canvas_yunet,0,0);
        });
      };

      const videoClient = new Client("localhost", 9002, Array(
        new Callback(Hooks.MESSAGE, processVideoResults)
      ));

      const audioClient = new Client("localhost", 9001, Array(
        new Callback(Hooks.MESSAGE, processAudioResults)
      ));
    </script>
  </body>
</html>
