<!doctype html>
<html lang="en">
  <head>
    <title>Hotword Detection</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app-hotword">
      <div id="hotword-info">
        <h2>You can change the color of this page using your voice!</h2>
        <br>
        <i>Try saying any of the following:</i>
        <ul>
          <li class="red">Red</li>
          <li class="blue">Blue</li>
          <li class="yellow">Yellow</li>
          <li class="purple">Purple</li>
          <li class="white">White</li>
        </ul>
      </div>
    </div>
    <script type="module">
      import { Client, Hooks, Callback } from "/js/robocapture.js";

      const setBg = color => { document.body.style.background = color; }

      const words = {
        "red": "lightcoral",
        "blue": "lightskyblue",
        "yellow": "lemonchiffon",
        "purple": "plum",
        "white": "white"
      }

      const detectHotword = (e) => {
        const results = JSON.parse(e.data);

        results.forEach(n => {
          if(n["name"] != "whisper") return;

          const result = n["data"];
          const text = result["text"]
            .toLowerCase()

          console.log(text);
          Object.keys(words).forEach((k,v) => {
            if(text.includes(k)){
              setBg(words[k]);
            }
          })
        });
      }

      const audioClient = new Client("localhost", 9001, Array(
        new Callback(Hooks.MESSAGE, detectHotword)
      ));
    </script>
  </body>
</html>
