<!doctype html>
<html lang="en">
  <head>
    <title>Debug</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app-human">
      <h1>Face/Person Detection</h1>
      <br />
      <div id="human-info-per" class="yellow">
        <h3 id="human-info-per-status">I see no humans around..</h3>
      </div>
      <div id="human-info-face" class="blue">
        <h3 id="human-info-face-status">I see no faces..</h3>
      </div>
    </div>
    <script type="module">
      import { Client, Hooks, Callback } from "/js/robocapture.js";

      const e_per_status = document.getElementById("human-info-per-status");
      const e_face_status = document.getElementById("human-info-face-status");

      const detectHumans = (e) => {
        const results = JSON.parse(event.data);

        e_per_status.innerText = "";
        e_per_status.innerText = "";

        results.forEach((result) => {
          if(result["name"] === "server_config") return;

          if(result["name"] === "yolo"){
            const data = result["data"];

            const persons = data.filter(n => n["class"] === "person");
            e_per_status.innerText = `I can see (${persons.length}) persons!`;
          }

          if(result["name"] === "yunet"){
            const data = result["data"];
            e_face_status.innerText = `I can see (${data.length}) faces!`;
          }
        });
      };

      const videoClient = new Client(
        "localhost",
        9002,
        Array(new Callback(Hooks.MESSAGE, detectHumans)),
      );
    </script>
  </body>
</html>
